<html>

<head>
  <title>Faculty Login</title>
  <link rel="stylesheet" type="text/css" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.css">
  <script type="text/javascript" src="js/jQuery.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Sintony" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">



</head>
<style type="text/css">
  body {
    background-color: lightgray;
    padding-top: 0px !important;
  }
</style>

<body>
  <div class="container-fluid" style="background-color: #f7ffff; margin-bottom: 10px;">
    <div class="container">
      <div class="row" style="margin-bottom:10px; ">
        <div class="col-md-8 col-md-offset-2">

          <h3
            style="text-align:center;color:#002f15!important;font-weight: bold;font-size: 2.3em; margin-top: 3px; font-family: 'Noto Sans', sans-serif;">
            भारतीय प्रौद्योगिकी संस्थान पटना</h3>
          <h3
            style="text-align:center;color: #002f15!important;font-weight: bold;font-family: 'Oswald', sans-serif!important;font-size: 2.2em; margin-top: 0px;">
            Indian Institute of Technology Patna</h3>


        </div>



      </div>
      <!-- <h3 style="text-align:center; color: #414002; font-weight: bold;  font-family: 'Fjalla One', sans-serif!important; font-size: 2em;">Application for Academic Appointment</h3> -->
    </div>
  </div>
  <h3
    style="color: #e10425; margin-bottom: 20px; font-weight: bold; text-align: center;font-family: 'Noto Serif', serif;"
    class="blink_me">Application for Faculty Position</h3>

  <link rel="stylesheet" type="text/css" href="css/pages.css">


  <div class="container" style="border-radius:10px; height:300px; margin-top:20px;">
    <div class="col-md-10 col-md-offset-1">

      <div class="row"
        style="border-width: 2px; border-style: solid; border-radius: 10px; box-shadow: 0px 1px 30px 1px #284d7a; background-color:#F7FFFF;">


        <div class="col-md-6" style=" height:403px; border-radius: 10px 0px 0px 10px;"><img src="images/IITPLogo.png"
            style="margin-top: 5%; margin-left: 20%; height: 75%">

          <p style="text-align: center;">
          </p>
        </div>

        <div class="col-md-6" style="border-radius: 0px 10px 10px 0px; height: 403px;">
          <br />
            <a href="/login"><button style="border-radius: 10px 10px 10px 10px; height: 150px; font-size: xx-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LOGIN</button></a>
            <a href="/register"><button style="border-radius: 10px 10px 10px 10px; height: 150px; font-size: xx-large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">REGISTER</button></a>

        </div>
      </div>
    </div>

  </div>






  <div id="footer"></div>
</body>

</html>

<script type="text/javascript">
  function blinker() {
    $('.blink_me').fadeOut(500);
    $('.blink_me').fadeIn(500);
  }

  setInterval(blinker, 1000);
</script>